* {
  font-family: sans-serif;
}

h1 {
  font-family: serif;
}

textarea {
  font-family: monospace, sans-serif;
}

table {
  border-collapse: collapse;
  border: 0.2em solid rgb(140 140 140);
}

th,
td {
  border: 0.1em solid rgb(160 160 160);
  padding: 0.3em 0.3em;
  text-align: right;
}

td {
  font-family: monospace, sans-serif;
}